@charset "UTF-8";
@import url("/css/font.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  font-family: "ad", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #727272;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

/* 안내창 */
.modal-wrap {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}

.modal-main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 400px;
  background: url("../images/modalimg.png") no-repeat center #ddd;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
  border: 5px solid rgba(0, 0, 0, 0.1);
}

.modal-main h1 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #333;
  padding: 10px 0;
}

.modal-main p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.8;
}

.modal-main b {
  font-weight: 600;
  text-decoration: underline;
  color: #ed1c24;
}

.modal-main strong {
  font-weight: 600;
  text-decoration: underline;
  color: #ed1c24;
}

.modal-line {
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
  margin-top: 40px;
  margin-bottom: 20px;
}

.modal-main span {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.8;
  padding: 10px;
  letter-spacing: 0.5px;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  cursor: pointer;
  font-size: 22px;
  color: #555;
  background: transparent;
  /* transition: transform 0.4s; */
}

.modal-close:hover {
  /* transform: rotate(90deg); */
  font-size: 21px;
}

.modal-close:active {
  font-size: 22px;
}

.banner {
  position: relative;
  display: none;
  text-align: center;
}
.banner .sw-banner {
  position: relative;
  display: block;
  background: rgb(70, 69, 69);
  height: 32px;
  line-height: 32px;
}
.banner .sw-banner a {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.banner .banner-close {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 14px;
  height: 14px;
  border: 0;
  font-size: 0;
  background: url("../images/banner-close.png") no-repeat center;
  background-size: cover;
  z-index: 9;
  cursor: pointer;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
  z-index: 9999;
  transition: background 0.5s ease;
}
.header .inner {
  position: relative;
  display: flex;
  max-width: 1500px;
  justify-content: space-around;
}
.header .inner .header-left {
  display: flex;
  align-items: center;
}
.header .inner .header-left .logo {
  position: relative;
  display: block;
  width: 109px;
  height: 36px;
  background: url("../images/logo_white.png") no-repeat center;
}
.header .inner .header-left .logo-hv {
  background: url("../images/logo_black.png") no-repeat center;
}
.header .inner .header-left .gnb {
  padding-left: 80px;
}
.header .inner .header-left .gnb .depth1 {
  position: relative;
  display: flex;
}
.header .inner .header-left .gnb .depth1 > li {
  padding-right: 80px;
}
.header .inner .header-left .gnb .depth1 > li > a {
  display: block;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.header .inner .header-left .gnb .depth1 > li > a:hover {
  color: #6c801a;
}
.header .inner .header-left .gnb .depth1 > li .submenu {
  position: absolute;
  top: 80px;
  left: 100%;
  transform: translateX(-44%);
  display: none;
  width: 100vw;
  height: 100%;
  transition: 0.3s ease;
}
.header .inner .header-left .gnb .depth1 > li .submenu .depth2 {
  position: absolute;
  top: 0;
  left: 20%;
  transform: translateX(2%);
  display: flex;
}
.header .inner .header-left .gnb .depth1 > li .submenu .depth2 > li {
  padding-top: 70px;
  padding-right: 75px;
}
.header .inner .header-left .gnb .depth1 > li .submenu .depth2 > li > a {
  font-size: 17px;
  font-weight: 500;
  color: #333;
}
.header .inner .header-left .gnb .depth1 > li .submenu .depth2 > li .depth3 > li {
  padding-top: 20px;
}
.header .inner .header-left .gnb .depth1 > li .submenu .depth2 > li .depth3 > li > a {
  font-size: 15px;
  color: #666;
}
.header .inner .header-left .gnb .depth1 > li .submenu > a {
  position: relative;
  top: 70px;
  left: 60%;
  display: block;
  width: 340px;
  height: 380px;
  transition: height 0.4s;
}
.header .inner .header-left .gnb .depth1 > li .submenu > a > img {
  height: 100%;
}
.header .inner .header-left .gnb .depth1 > li .submenu::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 0;
  background: #fff;
  z-index: -9;
  border-top: 1px solid #e6e6e6;
  transition: height 0.5s ease;
}
.header .inner .header-left .gnb .depth1 > li .submenu-hover::after {
  height: 500px;
}
.header .inner .header-left .gnb .depth1 > li:last-child {
  padding-right: 0;
}
.header .inner .header-right {
  display: flex;
}
.header .inner .header-right .util {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.header .inner .header-right .util > li {
  position: relative;
  margin-right: 15px;
}
.header .inner .header-right .util > li .search {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/icon_search_white.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .search-hv {
  background: url("../images/icon_search_black.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .search:hover {
  background: url("../images/icon_search_hover.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .cart {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/icon_cart_white.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .cart-hv {
  background: url("../images/icon_cart_black.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .cart:hover {
  background: url("../images/icon_cart_hover.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .num {
  position: absolute;
  right: -8px;
  top: -4px;
  height: 16px;
  padding: 0 4px;
  line-height: 16px;
  background-color: #fff;
  color: #333;
  font-weight: 500;
  border-radius: 9px;
  text-align: center;
}
.header .inner .header-right .util > li .num-hv {
  background-color: #555;
  color: #fff;
}
.header .inner .header-right .util > li:last-child {
  margin-right: 0;
}
.header .inner .header-right .util .more-btn {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/icon_more_white.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util .more-btn .more-btn-list {
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-55%);
  display: none;
  width: 165px;
  text-align: right;
  background-color: #fff;
}
.header .inner .header-right .util .more-btn .more-btn-list > li {
  padding: 8px 20px;
  text-align: right;
}
.header .inner .header-right .util .more-btn .more-btn-list > li > a {
  font-size: 15px;
  color: #555;
}
.header .inner .header-right .util .more-btn .more-btn-list > li > a:hover {
  color: #6c801a;
}
.header .inner .header-right .util .more-btn .more-btn-list > li:first-child {
  padding-top: 20px;
}
.header .inner .header-right .util .more-btn-hv {
  background: url("../images/icon_more_black.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util .more-btn:hover {
  background: url("../images/icon_more_hover.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util .mb-btn {
  display: none;
  width: 24px;
  height: 24px;
  background: url("../images/mb-menu.png") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.header .inner .header-right .drop {
  position: relative;
  display: flex;
  align-items: center;
}
.header .inner .header-right .drop > li {
  position: relative;
  margin-right: 24px;
}
.header .inner .header-right .drop > li > a {
  display: block;
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.header .inner .header-right .drop > li > a:hover {
  color: #6c801a;
}
.header .inner .header-right .drop > li .signbox {
  position: absolute;
  top: 74px;
  left: 50%;
  transform: translateX(-55%);
  display: none;
  width: 100px;
  background-color: #fff;
  text-align: right;
}
.header .inner .header-right .drop > li .signbox > li {
  padding: 8px 20px;
}
.header .inner .header-right .drop > li .signbox > li a {
  font-size: 15px;
  color: #555;
}
.header .inner .header-right .drop > li .signbox > li a:hover {
  color: #6c801a;
}
.header .inner .header-right .drop > li .signbox > li:first-child {
  padding-top: 20px;
}
.header .inner .header-right .drop > li .langbox {
  position: absolute;
  top: 74px;
  left: 50%;
  transform: translateX(-55%);
  display: none;
  width: 100px;
  background-color: #fff;
  text-align: right;
}
.header .inner .header-right .drop > li .langbox li {
  padding: 8px 20px;
  text-align: right;
}
.header .inner .header-right .drop > li .langbox li a {
  font-size: 15px;
  color: #555;
}
.header .inner .header-right .drop > li .langbox li a:hover {
  color: #6c801a;
}
.header .inner .header-right .drop > li .langbox li:first-child {
  padding-top: 20px;
}
.header .inner .header-right .drop .korea::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url("../images/icon_drop_white.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .drop .korea:hover::after {
  background: url("../images/icon_drop_hover.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .drop .korea-hv::after {
  background: url("../images/icon_drop_black.png") no-repeat center;
  background-size: cover;
}

.header-hv {
  transition: background 0.5s ease;
  background: #fff;
}

@media screen and (max-width: 1280px) {
  /* Header */
  .header .inner {
    justify-content: space-between;
  }
  .header .inner .header-left {
    padding-top: 14px;
    padding-left: 14px;
  }
  .header .inner .header-left .logo {
    width: 60px;
    height: 20px;
    background-size: cover;
  }
  .header .inner .header-left .logo-hv {
    background: url("../images/logo_black.png") no-repeat center;
  }
  .header .inner .header-left .gnb {
    display: none;
  }
  .header .inner .header-right {
    display: flex;
    padding-top: 16px;
    padding-right: 16px;
  }
  .header .inner .header-right .util {
    margin-right: 0;
  }
  .header .inner .header-right .util .more-btn {
    display: none;
  }
  .header .inner .header-right .util .mb-btn {
    display: block;
  }
  .header .inner .header-right .drop {
    display: none;
  }
}
/* Visual */
.visual {
  position: relative;
  display: block;
}
.visual .sw-visual {
  position: relative;
  width: 100%;
  height: 100%;
}
.visual .sw-visual a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.visual .sw-visual a .pc-visual {
  display: block;
}
.visual .sw-visual a .mb-visual {
  display: none;
}
.visual .sw-visual a .visual-inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1320px;
  height: 100%;
  width: 100%;
  padding: 0 60px;
}
.visual .sw-visual a .visual-inner .visual-box {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  padding-top: 50px;
}
.visual .sw-visual a .visual-inner .visual-box .visual-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.29;
}
.visual .sw-visual a .visual-inner .visual-box .visual-txt {
  margin-top: 16px;
  font-size: 13px;
}
.visual .sw-visual a .visual-inner .visual-box .visual-date {
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}
.visual .sw-visual a .visual-btn {
  position: absolute;
  bottom: 40px;
  border: 1px solid #555;
  width: 110px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  font-size: 13px;
  color: #333;
  background-color: transparent;
  z-index: 9;
  transition: 0.2s ease-in-out;
}
.visual .sw-visual a .visual-btn:hover {
  background-color: #666;
  color: #fff;
}
.visual .sw-visual .sw-visual-prev {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: url("../images/visual-prev.png") no-repeat center;
  background-size: cover;
  border: 0;
  z-index: 99;
  cursor: pointer;
}
.visual .sw-visual .sw-visual-next {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: url("../images/visual-next.png") no-repeat center;
  background-size: cover;
  border: 0;
  z-index: 99;
  cursor: pointer;
}
.visual .sw-visual .sw-visual-control {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 99;
}
.visual .sw-visual .sw-visual-control .sw-visual-pg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}
.visual .sw-visual .sw-visual-control .sw-visual-pg .swiper-pagination-bullet {
  background-color: rgba(51, 51, 51, 0.1);
  border-radius: 0;
  flex: 1 0 1px;
  opacity: 1;
  height: 2px;
}
.visual .sw-visual .sw-visual-control .sw-visual-pg .swiper-pagination-bullet-active {
  background: #333;
}
.visual .sw-visual .sw-visual-control .sw-visual-pause {
  position: relative;
  display: block;
  width: 8px;
  height: 12px;
  background: url("../images/icon_btn_pause.png") no-repeat center;
  background-size: cover;
  border: 0;
  margin-left: 20px;
  cursor: pointer;
}
.visual .sw-visual .sw-visual-control .sw-visual-play {
  background: url("../images/icon_btn_play.png") no-repeat center;
  background-size: cover;
}

@media screen and (max-width: 1280px) {
  .visual .sw-visual a {
    width: 150vw;
    height: 49.2vw;
  }
  .visual .sw-visual .sw-visual-prev {
    left: 10px;
  }
  .visual .sw-visual .sw-visual-next {
    right: 10px;
  }
}
@media screen and (max-width: 1025px) {
  .visual {
    position: relative;
    display: block;
  }
  .visual .sw-visual {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .visual .sw-visual a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .visual .sw-visual a .pc-visual {
    display: none;
  }
  .visual .sw-visual a .mb-visual {
    width: 100%;
    display: block;
  }
  .visual .sw-visual a .visual-inner {
    transform: translateX(-54%);
    padding: 0 20px;
  }
  .visual .sw-visual a .visual-inner .visual-box {
    bottom: 500px;
    padding-top: 78.05vw;
  }
  .visual .sw-visual a .visual-inner .visual-box .visual-title {
    font-size: 27px;
    font-weight: 500;
    line-height: 1.29;
  }
  .visual .sw-visual a .visual-inner .visual-box .visual-txt {
    margin-top: 10px;
    font-size: 13px;
  }
  .visual .sw-visual a .visual-inner .visual-box .visual-date {
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
  }
  .visual .sw-visual a .visual-btn {
    display: none;
  }
  .visual .sw-visual .sw-visual-prev {
    display: none;
  }
  .visual .sw-visual .sw-visual-next {
    display: none;
  }
  .visual .sw-visual .sw-visual-control {
    width: 100%;
  }
  .visual .sw-visual .sw-visual-control .sw-visual-pause {
    position: relative;
    display: block;
    width: 8px;
    height: 12px;
    background: url("../images/icon_btn_pause.png") no-repeat center;
    background-size: cover;
    border: 0;
    margin-left: 20px;
    cursor: pointer;
  }
  .visual .sw-visual .sw-visual-control .sw-visual-play {
    background: url("../images/icon_btn_play.png") no-repeat center;
    background-size: cover;
  }
}
@media screen and (max-width: 700px) {
  .visual .sw-visual a .visual-inner .visual-box {
    padding-top: 63.05vw;
  }
}
@media screen and (max-width: 558px) {
  .visual .sw-visual a .visual-inner .visual-box {
    padding-top: 33.05vw;
  }
}
/* mb quick menu */
.mb-quick {
  position: relative;
  display: none;
  margin-top: 30px;
}
.mb-quick .inner {
  position: relative;
  display: block;
  max-width: 1240px;
  padding: 0 20px;
}
.mb-quick .inner .sw-quick {
  width: 100%;
  height: 100%;
}
.mb-quick .inner .sw-quick .swiper-wrapper .swiper-slide a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.mb-quick .inner .sw-quick .swiper-wrapper .swiper-slide a .quick-img {
  width: 100%;
  height: 100%;
}
.mb-quick .inner .sw-quick .swiper-wrapper .swiper-slide a .quick-img img {
  display: block;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.mb-quick .inner .sw-quick .swiper-wrapper .swiper-slide .quick-text {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}

@media screen and (max-width: 1025px) {
  .mb-quick {
    display: block;
  }
}
/* Item */
.item {
  position: relative;
  display: block;
}
.item .inner {
  position: relative;
  display: block;
}
.item .inner .item-notice {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f6f6f6;
  border-radius: 4px;
}
.item .inner .item-notice .notice-title {
  font-size: 14px;
  color: #999;
  margin-right: 8px;
  white-space: nowrap;
}
.item .inner .item-notice .notice-list {
  width: 100%;
  height: 20px;
  overflow: hidden;
}
.item .inner .item-notice .notice-list li {
  font-size: 14px;
  color: #666;
  white-space: nowrap;
}
.item .inner .item-notice .notice-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 22px;
  width: 7px;
  height: 12px;
  background: url("../images/notice_more_btn.png") no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
.item .inner .item-main {
  position: relative;
  display: block;
}
.item .inner .item-main .item-title {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}
.item .inner .item-main .item-title h3 {
  font-size: 28px;
  font-weight: 500;
  color: #000;
}
.item .inner .item-main .item-title .item-best {
  display: block;
  background-color: #6c801a;
  color: #fff;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 15px;
  border-radius: 150px;
  text-align: center;
  margin-left: 30px;
  border: 0;
  cursor: pointer;
}
.item .inner .item-main .item-title .item-pop {
  color: #fff;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 15px;
  color: #999;
  background-color: #f6f6f6;
  border-radius: 150px;
  text-align: center;
  margin-left: 8px;
  border: 0;
  cursor: pointer;
}
.item .inner .item-main .sw-item {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide {
  width: auto;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a {
  position: relative;
  width: auto;
  height: 100%;
  color: #333;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-img {
  position: relative;
  display: block;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-img .tea-img-first {
  display: block;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-img .tea-img-first img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  transition: all 0.3s ease;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-img .tea-img-sec {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 0;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-img .tea-img-sec img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  transition: all 0.3s ease;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-img .tea-icon {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 36px;
  background: url("../images/teaicon.png") no-repeat center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-img .tea-icon:hover {
  background: url("../images/teaicon-hover.png") no-repeat center;
  transition: background 0.3s ease;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-img:hover .tea-img-first {
  opacity: 0;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-img:hover .tea-img-sec {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-img:hover .tea-icon {
  opacity: 1;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-name {
  font-size: 16px;
  margin: 15px 0;
  line-height: 1.2;
  word-break: keep-all;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-origin {
  font-size: 16px;
  color: #999;
  text-decoration: line-through;
  line-height: 1;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-price {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin-top: 6px;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-sale {
  font-size: 18px;
  font-weight: 500;
  color: #6c801a;
  margin-left: 5px;
  line-height: 1;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .tea-new {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  background-color: #a89079;
  margin-top: 40px;
}
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .new-non,
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .origni-non,
.item .inner .item-main .sw-item .swiper-wrapper .swiper-slide a .sale-non {
  display: none;
}
.item .inner .item-main .sw-item-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  width: 100%;
}
.item .inner .item-main .sw-item-control .sw-item-prev {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url("../images/item-prev.png") no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
.item .inner .item-main .sw-item-control .sw-item-next {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url("../images/item-next.png") no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
.item .inner .item-main .sw-item2 {
  display: none;
  margin-bottom: 50px;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide {
  width: auto;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a {
  position: relative;
  width: auto;
  height: 100%;
  color: #333;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-img {
  position: relative;
  display: block;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-img .tea-img-first {
  display: block;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-img .tea-img-first img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  transition: all 0.3s ease;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-img .tea-img-sec {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 0;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-img .tea-img-sec img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  transition: all 0.3s ease;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-img .tea-icon {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 36px;
  background: url("../images/teaicon.png") no-repeat center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-img .tea-icon:hover {
  background: url("../images/teaicon-hover.png") no-repeat center;
  transition: background 0.3s ease;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-img:hover .tea-img-first {
  opacity: 0;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-img:hover .tea-img-sec {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-img:hover .tea-icon {
  opacity: 1;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-name {
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.2;
  word-break: keep-all;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-origin {
  font-size: 16px;
  color: #999;
  text-decoration: line-through;
  line-height: 1;
  margin-top: 6px;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-price {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin-top: 6px;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-sale {
  font-size: 18px;
  font-weight: 500;
  color: #6c801a;
  margin-left: 5px;
  line-height: 1;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .tea-new {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  background-color: #a89079;
  margin-top: 40px;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .sold-out {
  margin-top: 40px;
  background-color: #bcbcbc;
}
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .new-non,
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .origni-non,
.item .inner .item-main .sw-item2 .swiper-wrapper .swiper-slide a .sale-non {
  display: none;
}
.item .inner .more-btn-box {
  text-align: center;
}
.item .inner .more-btn-box .more-main-btn {
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 40px;
}
.item .inner .more-btn-box .more-main-btn span {
  font-size: 14px;
  color: #666;
}
.item .inner .more-btn-box .more-main-btn ::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 9px;
  margin-left: 10px;
  background: url("../images/icon_main_btn.png") no-repeat center;
  background-size: cover;
}

/* News */
.news {
  position: relative;
  display: block;
  margin-top: 80px;
  padding: 80px 0;
  background-color: #f6f6f6;
}
.news .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.news .inner .news-sale {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 570px;
  flex: 0 0 50%;
  background: url("../images/new1.jpg") no-repeat center;
}
.news .inner .news-sale .news-sale-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.news .inner .news-sale .news-sale-top h3 {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}
.news .inner .news-sale .news-sale-top .news-sale-time {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
}
.news .inner .news-sale .news-sale-top .news-sale-time::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../images/news-sale-time.png") no-repeat center;
}
.news .inner .news-sale .news-sale-bottom {
  padding: 0 30px 30px 30px;
}
.news .inner .news-sale .news-sale-bottom .news-sale-title {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  line-height: 1.38;
}
.news .inner .news-sale .news-sale-bottom .news-sale-info {
  display: flex;
  align-items: center;
}
.news .inner .news-sale .news-sale-bottom .news-sale-info .news-info-sale {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #fd5c5c;
  text-align: center;
  line-height: 64px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.news .inner .news-sale .news-sale-bottom .news-sale-info .news-info-origin {
  font-size: 18px;
  margin-left: 16px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: line-through;
}
.news .inner .news-sale .news-sale-bottom .news-sale-info .news-info-price {
  font-size: 30px;
  margin-left: 12px;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.05em;
}
.news .inner .news-right {
  display: flex;
  flex-direction: column;
}
.news .inner .news-right .news-check {
  position: relative;
  display: block;
  width: 580px;
  height: 274px;
  background: url("../images/new2.png") no-repeat center;
  background-size: cover;
}
.news .inner .news-right .news-check .news-check-box {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
.news .inner .news-right .news-check .news-check-box h3 {
  font-size: 26px;
  font-weight: 500;
}
.news .inner .news-right .news-check .news-check-box p {
  margin-top: 5px;
}
.news .inner .news-right .news-story {
  position: relative;
  display: block;
  width: 580px;
  height: 274px;
  background: url("../images/new3.jpg") no-repeat center;
  background-size: cover;
  margin-top: 20px;
}
.news .inner .news-right .news-story .news-story-box {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
.news .inner .news-right .news-story .news-story-box h3 {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}
.news .inner .news-right .news-story .news-story-box p {
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  margin-top: 3px;
}

/* Daily */
.daily {
  position: relative;
  display: block;
  margin-top: 80px;
  padding-bottom: 60px;
  border-bottom: 1px solid #f6f6f6;
}
.daily .inner {
  position: relative;
  display: block;
}
.daily .inner h3 {
  color: #000;
  font-size: 28px;
  font-weight: 500;
}
.daily .inner p {
  margin-top: 5px;
  font-size: 16px;
  margin-bottom: 30px;
}
.daily .inner .daily-box {
  position: relative;
  display: block;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide {
  width: 33.3333333333%;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide a .daily-img-box {
  position: relative;
  display: block;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide a .daily-img-box img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide a .daily-img-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent);
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide a .daily-box {
  position: absolute;
  left: 30px;
  top: 83%;
  color: #fff;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide a .daily-box .daily-title {
  font-size: 22px;
  font-weight: 500;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide a .daily-box .daily-every {
  font-size: 13px;
  font-weight: 500;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide a .daily-box .daily-price {
  margin-left: 5px;
  font-size: 22px;
  font-weight: 500;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide a .daily-box .daily-none {
  display: none;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide a .daily-box .daily-free {
  display: inline-block;
  width: 80px;
  font-size: 13px;
  margin-top: 0;
  margin-left: 16px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  background-color: #a1af1b;
  border-radius: 2px;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide a .daily-box .daily-free:last-child {
  margin-left: 0;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 30px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s ease-in-out;
  display: block;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner {
  position: absolute;
  top: 44%;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-hover-top {
  color: #fff;
  padding-bottom: 25px;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-hover-top .daily-title {
  font-size: 22px;
  font-weight: 500;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-hover-top .daily-every {
  font-size: 13px;
  font-weight: 500;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-hover-top .daily-price {
  margin-left: 5px;
  font-size: 22px;
  font-weight: 500;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-hover-top .daily-none {
  display: none;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-hover-top .daily-free {
  display: inline-block;
  width: 80px;
  font-size: 13px;
  margin-top: 0;
  margin-left: 16px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  background-color: #a1af1b;
  border-radius: 2px;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-hover-top .daily-free:last-child {
  margin-left: 0;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-hover-txt {
  color: #fff;
  font-size: 16px;
  word-break: keep-all;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 20px;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-hover-list li {
  font-size: 16px;
  color: #fff;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-hover-list li em {
  font-weight: 500;
  color: #fff;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-hover-list li::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide .daily-hover .daily-hover-inner .daily-none {
  display: none;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide:hover .daily-hover {
  top: 0;
}
.daily .inner .daily-box .sw-daily .swiper-wrapper .swiper-slide:hover .daily-box {
  display: none;
}
.daily .inner .more-btn-box {
  text-align: center;
}
.daily .inner .more-btn-box .more-main-btn {
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 40px;
  margin-top: 40px;
}
.daily .inner .more-btn-box .more-main-btn span {
  font-size: 14px;
  color: #666;
}
.daily .inner .more-btn-box .more-main-btn ::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 9px;
  margin-left: 10px;
  background: url("../images/icon_main_btn.png") no-repeat center;
  background-size: cover;
}

/* History */
.history {
  position: relative;
  display: block;
  margin-top: 60px;
}
.history .inner {
  position: relative;
  display: block;
}
.history .inner h3 {
  font-size: 28px;
  font-weight: 500;
  color: #000;
}
.history .inner p {
  margin-top: 5px;
  font-size: 16px;
  margin-bottom: 30px;
}
.history .inner .history-box {
  position: relative;
  display: block;
}
.history .inner .history-box .sw-history {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.history .inner .history-box .sw-history .swiper-wrapper .swiper-slide a {
  width: 100%;
  height: 100%;
}
.history .inner .history-box .sw-history .swiper-wrapper .swiper-slide a img {
  width: 100%;
}
.history .inner .history-box .sw-history .swiper-wrapper .swiper-slide .history-title {
  display: block;
  font-weight: 500;
  line-height: 1.3;
  font-size: 20px;
}
.history .inner .history-box .sw-history .swiper-wrapper .swiper-slide .history-txt {
  display: block;
  color: #666;
  margin-top: 5px;
  line-height: 1.3;
  font-size: 14px;
}
.history .inner .history-box .sw-history-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  z-index: 9;
}
.history .inner .history-box .sw-history-control .sw-history-prev {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url("../images/item-prev.png") no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
.history .inner .history-box .sw-history-control .sw-history-next {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url("../images/item-next.png") no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
.history .inner .more-btn-box {
  text-align: center;
}
.history .inner .more-btn-box .more-main-btn {
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 40px;
  margin-top: 40px;
}
.history .inner .more-btn-box .more-main-btn span {
  font-size: 14px;
  color: #666;
}
.history .inner .more-btn-box .more-main-btn ::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 9px;
  margin-left: 10px;
  background: url("../images/icon_main_btn.png") no-repeat center;
  background-size: cover;
}
.history .inner .history-banner {
  position: relative;
  display: block;
  width: 1200px;
  height: 180px;
  background: url("../images/teastone_banner_pc.jpg") no-repeat center;
  background-size: cover;
  margin-top: 80px;
  margin-bottom: 60px;
}
.history .inner .history-banner .his-banner-box p {
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 0;
}
.history .inner .history-banner .his-banner-box button {
  display: block;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 96px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  margin-top: 15px;
  background: transparent;
}
.history .inner .history-banner .his-banner-box button::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 9px;
  background: url("../images/icon_resv_btn.png") no-repeat center;
  background-size: cover;
  margin-left: 10px;
  vertical-align: middle;
}

/* Footer */
.footer {
  position: relative;
  display: block;
  background: #fafafa;
}
.footer .footer-top {
  position: relative;
  display: block;
  width: 100%;
  height: 63px;
  background: #67625d;
  overflow: hidden;
}
.footer .footer-top .footer-top-box {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0 300px;
}
.footer .footer-top .footer-top-box li .f-sign {
  display: block;
  width: 94px;
  height: 40px;
  margin-right: 6px;
  padding: 6px 0;
  border: 1px solid #2a2a2a;
  background: #3f3e3c;
  font-size: 15px;
  color: #fff;
  line-height: 1.6;
  text-align: center;
}
.footer .footer-top .footer-top-box li .f-face {
  display: block;
  width: 38px;
  height: 38px;
  background: url("../images/facebook.png") no-repeat center;
  background-size: cover;
  margin-left: 14px;
  font-size: 0;
}
.footer .footer-top .footer-top-box li .f-insta {
  display: block;
  width: 38px;
  height: 38px;
  background: url("../images/instagram.png") no-repeat center;
  background-size: cover;
  margin-left: 14px;
  font-size: 0;
}
.footer .inner {
  position: relative;
  display: block;
  max-width: 1400px;
}
.footer .inner .footer-left {
  position: relative;
  display: block;
  float: left;
  margin-top: 40px;
}
.footer .inner .footer-left .tit {
  font-size: 14px;
  color: #7b7b7b;
}
.footer .inner .footer-left .phone {
  font-size: 33.7px;
  color: #595959;
  margin-top: 1px;
}
.footer .inner .footer-left .time {
  font-size: 12px;
  color: #828282;
  letter-spacing: -0.5px;
  margin-top: 2px;
}
.footer .inner .footer-center {
  position: relative;
  display: block;
  float: left;
  margin-top: 40px;
  margin-left: 100px;
}
.footer .inner .footer-center .tit {
  font-size: 14px;
  color: #7b7b7b;
}
.footer .inner .footer-center .e-mail {
  font-weight: 700;
  color: #595959;
  text-decoration: underline;
  font-size: 18px;
}
.footer .inner .footer-center .kakao {
  font-weight: 700;
  font-size: 13px;
  color: #797979;
}
.footer .inner .footer-center .time {
  font-size: 12px;
  color: #828282;
  letter-spacing: -0.5px;
  margin-top: 2px;
}
.footer .inner .footer-right {
  position: relative;
  display: flex;
  float: right;
  margin-top: 26px;
  height: 112px;
  border-left: 1px solid #efefef;
  padding-top: 20px;
}
.footer .inner .footer-right li a {
  display: inline-block;
  margin-left: 60px;
  text-align: center;
}
.footer .inner .footer-right li a span {
  display: block;
  margin-top: 10px;
  color: #505051;
  font-size: 16px;
  line-height: 1.2;
}
.footer .footer-bottom {
  position: relative;
  display: block;
  background: #fff;
  padding: 0 0 35px;
}
.footer .footer-bottom .inner {
  position: relative;
  display: block;
}
.footer .footer-bottom .inner .f-logo {
  width: 120px;
  text-align: center;
  float: left;
  margin-top: 45px;
}
.footer .footer-bottom .inner .f-left {
  float: left;
  width: auto;
  max-width: calc(100% - 480px);
  margin-left: 25px;
  margin-top: 35px;
}
.footer .footer-bottom .inner .f-left .f-left-top ul {
  display: flex;
  color: #000;
  font-size: 12px;
}
.footer .footer-bottom .inner .f-left .f-left-top ul li::after {
  content: "I";
  margin: 0 10px;
}
.footer .footer-bottom .inner .f-left .f-left-top ul li:nth-child(3) {
  font-weight: 600;
}
.footer .footer-bottom .inner .f-left .f-left-top ul li:nth-child(3)::after {
  font-weight: 400;
}
.footer .footer-bottom .inner .f-left .f-left-top ul li:last-child::after {
  display: none;
}
.footer .footer-bottom .inner .f-left .f-left-bottom {
  position: relative;
  font-size: 12px;
  letter-spacing: -0.5px;
  margin-top: 15px;
}
.footer .footer-bottom .inner .f-right {
  float: right;
}
.footer .footer-bottom .inner .f-right .f-right-box {
  width: 310px;
  height: auto;
  margin-top: 35px;
  padding: 15px 20px;
  border: 1px solid #e8e8e8;
  letter-spacing: -0.5px;
  font-size: 12px;
}
.footer .footer-bottom .inner .f-right .f-right-box .f-right-tit {
  margin-bottom: 10px;
  letter-spacing: -0.3px;
  color: #828282;
  font-weight: bold;
}
.footer .footer-bottom .inner .f-right .f-right-box img {
  float: left;
  display: block;
  width: 43px;
  margin: 4px 8px;
  cursor: pointer;
}
.footer .footer-bottom .inner .f-right .f-right-box .f-right-note {
  float: right;
  width: 202px;
  margin: 0;
  padding-top: 2px;
  line-height: 1.3;
  letter-spacing: -0.5px;
  color: #828282;
}/*# sourceMappingURL=style.css.map */