@charset "UTF-8";
@import url("/css/font.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  font-family: "ad", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #727272;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

.banner {
  position: relative;
  display: none;
  text-align: center;
}
.banner .sw-banner {
  position: relative;
  display: block;
  background: rgb(70, 69, 69);
  height: 32px;
  line-height: 32px;
}
.banner .sw-banner a {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.banner .banner-close {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 14px;
  height: 14px;
  border: 0;
  font-size: 0;
  background: url("../images/banner-close.png") no-repeat center;
  background-size: cover;
  z-index: 9;
  cursor: pointer;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
  z-index: 9999;
}
.header .inner {
  position: relative;
  display: flex;
  max-width: 1500px;
  justify-content: space-between;
}
.header .inner .header-left {
  display: flex;
  align-items: center;
}
.header .inner .header-left .logo {
  position: relative;
  display: block;
  width: 109px;
  height: 36px;
  background: url("../images/logo_white.png") no-repeat center;
}
.header .inner .header-left .logo-hv {
  background: url("../images/logo_black.png") no-repeat center;
}
.header .inner .header-left .gnb {
  padding-left: 80px;
}
.header .inner .header-left .gnb .depth1 {
  position: relative;
  display: flex;
}
.header .inner .header-left .gnb .depth1 > li {
  padding-right: 80px;
}
.header .inner .header-left .gnb .depth1 > li > a {
  display: block;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.header .inner .header-left .gnb .depth1 > li > a:hover {
  color: #6C801A;
}
.header .inner .header-left .gnb .depth1 > li .submenu {
  position: absolute;
  top: 80px;
  left: 100%;
  transform: translateX(-44%);
  display: none;
  width: 100vw;
  height: 100vh;
  background: skyblue;
}
.header .inner .header-left .gnb .depth1 > li .submenu .depth2 {
  position: absolute;
  top: 0;
  left: 20%;
  transform: translateX(2%);
  display: flex;
}
.header .inner .header-left .gnb .depth1 > li .submenu .depth2 > li {
  padding-top: 70px;
  padding-right: 75px;
}
.header .inner .header-left .gnb .depth1 > li .submenu .depth2 > li > a {
  font-size: 17px;
  font-weight: 500;
  color: #333;
}
.header .inner .header-left .gnb .depth1 > li .submenu .depth2 > li .depth3 > li {
  padding-top: 20px;
}
.header .inner .header-left .gnb .depth1 > li .submenu .depth2 > li .depth3 > li > a {
  font-size: 15px;
  color: #666;
}
.header .inner .header-left .gnb .depth1 > li .submenu > a {
  position: absolute;
  top: 70px;
  left: 60%;
  display: block;
}
.header .inner .header-left .gnb .depth1 > li .submenu > a > img {
  width: 100%;
}
.header .inner .header-left .gnb .depth1 > li .submenu::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 100vh;
  background: skyblue;
  z-index: -9;
}
.header .inner .header-left .gnb .depth1 > li:last-child {
  padding-right: 0;
}
.header .inner .header-right {
  display: flex;
}
.header .inner .header-right .util {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.header .inner .header-right .util > li {
  position: relative;
  margin-right: 15px;
}
.header .inner .header-right .util > li .search {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/icon_search_white.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .search-hv {
  background: url("../images/icon_search_black.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .search:hover {
  background: url("../images/icon_search_hover.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .cart {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/icon_cart_white.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .cart-hv {
  background: url("../images/icon_cart_black.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .cart:hover {
  background: url("../images/icon_cart_hover.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util > li .num {
  position: absolute;
  right: -8px;
  top: -4px;
  height: 16px;
  padding: 0 4px;
  line-height: 16px;
  background-color: #fff;
  color: #333;
  font-weight: 500;
  border-radius: 9px;
  text-align: center;
}
.header .inner .header-right .util > li .num-hv {
  background-color: #555;
  color: #fff;
}
.header .inner .header-right .util > li:last-child {
  margin-right: 0;
}
.header .inner .header-right .util .more-btn {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/icon_more_white.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util .more-btn .more-btn-list {
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-55%);
  display: none;
  width: 165px;
  text-align: right;
  background-color: #fff;
}
.header .inner .header-right .util .more-btn .more-btn-list > li {
  padding: 8px 20px;
  text-align: right;
}
.header .inner .header-right .util .more-btn .more-btn-list > li > a {
  font-size: 15px;
  color: #555;
}
.header .inner .header-right .util .more-btn .more-btn-list > li > a:hover {
  color: #6C801A;
}
.header .inner .header-right .util .more-btn .more-btn-list > li:first-child {
  padding-top: 20px;
}
.header .inner .header-right .util .more-btn-hv {
  background: url("../images/icon_more_black.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .util .more-btn:hover {
  background: url("../images/icon_more_hover.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .drop {
  position: relative;
  display: flex;
  align-items: center;
}
.header .inner .header-right .drop > li {
  position: relative;
  margin-right: 24px;
}
.header .inner .header-right .drop > li > a {
  display: block;
  height: 80px;
  line-height: 80px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.header .inner .header-right .drop > li > a:hover {
  color: #6C801A;
}
.header .inner .header-right .drop > li .signbox {
  position: absolute;
  top: 74px;
  left: 50%;
  transform: translateX(-55%);
  display: none;
  width: 100px;
  background-color: #fff;
  text-align: right;
}
.header .inner .header-right .drop > li .signbox > li {
  padding: 8px 20px;
}
.header .inner .header-right .drop > li .signbox > li a {
  font-size: 15px;
  color: #555;
}
.header .inner .header-right .drop > li .signbox > li a:hover {
  color: #6C801A;
}
.header .inner .header-right .drop > li .signbox > li:first-child {
  padding-top: 20px;
}
.header .inner .header-right .drop > li .langbox {
  position: absolute;
  top: 74px;
  left: 50%;
  transform: translateX(-55%);
  display: none;
  width: 100px;
  background-color: #fff;
  text-align: right;
}
.header .inner .header-right .drop > li .langbox li {
  padding: 8px 20px;
  text-align: right;
}
.header .inner .header-right .drop > li .langbox li a {
  font-size: 15px;
  color: #555;
}
.header .inner .header-right .drop > li .langbox li a:hover {
  color: #6C801A;
}
.header .inner .header-right .drop > li .langbox li:first-child {
  padding-top: 20px;
}
.header .inner .header-right .drop .korea::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url("../images/icon_drop_white.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .drop .korea:hover::after {
  background: url("../images/icon_drop_hover.png") no-repeat center;
  background-size: cover;
}
.header .inner .header-right .drop .korea-hv::after {
  background: url("../images/icon_drop_black.png") no-repeat center;
  background-size: cover;
}

.header-hv {
  background: #fff;
}

/* Visual */
.visual {
  position: relative;
  display: block;
}
.visual .sw-visual {
  position: relative;
  width: 100%;
  height: 100%;
}
.visual .sw-visual a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.visual .sw-visual a .visual-inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1320px;
  height: 100%;
  width: 100%;
  padding: 0 60px;
}
.visual .sw-visual a .visual-inner .visual-box {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  padding-top: 50px;
}
.visual .sw-visual a .visual-inner .visual-box .visual-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.29;
}
.visual .sw-visual a .visual-inner .visual-box .visual-txt {
  margin-top: 16px;
  font-size: 13px;
}
.visual .sw-visual a .visual-inner .visual-box .visual-date {
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}
.visual .sw-visual a .visual-btn {
  position: absolute;
  bottom: 40px;
  border: 1px solid #555;
  width: 110px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  font-size: 13px;
  color: #333;
  background-color: transparent;
  z-index: 9;
  transition: 0.2s ease-in-out;
}
.visual .sw-visual a .visual-btn:hover {
  background-color: #666;
  color: #fff;
}
.visual .sw-visual .sw-visual-prev {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: url("../images/visual-prev.png") no-repeat center;
  background-size: cover;
  border: 0;
  z-index: 99;
  cursor: pointer;
}
.visual .sw-visual .sw-visual-next {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: url("../images/visual-next.png") no-repeat center;
  background-size: cover;
  border: 0;
  z-index: 99;
  cursor: pointer;
}
.visual .sw-visual .sw-visual-control {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 99;
}
.visual .sw-visual .sw-visual-control .sw-visual-pg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}
.visual .sw-visual .sw-visual-control .sw-visual-pg .swiper-pagination-bullet {
  background-color: rgba(51, 51, 51, 0.1);
  border-radius: 0;
  flex: 1 0 1px;
  opacity: 1;
  height: 2px;
}
.visual .sw-visual .sw-visual-control .sw-visual-pg .swiper-pagination-bullet-active {
  background: #333;
}
.visual .sw-visual .sw-visual-control .sw-visual-pause {
  position: relative;
  display: block;
  width: 8px;
  height: 12px;
  background: url("../images/icon_btn_pause.png") no-repeat center;
  background-size: cover;
  border: 0;
  margin-left: 20px;
  cursor: pointer;
}
.visual .sw-visual .sw-visual-control .sw-visual-play {
  background: url("../images/icon_btn_play.png") no-repeat center;
  background-size: cover;
}

/* Item */
.item {
  position: relative;
  display: block;
}
.item .inner {
  position: relative;
  display: block;
}
.item .inner .item-notice {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #F6F6F6;
  border-radius: 4px;
}
.item .inner .item-notice .notice-title {
  font-size: 14px;
  color: #999;
  margin-right: 8px;
  white-space: nowrap;
}
.item .inner .item-notice .notice-list {
  width: 100%;
  height: 20px;
  overflow: hidden;
}
.item .inner .item-notice .notice-list li {
  font-size: 14px;
  color: #666;
  white-space: nowrap;
}
.item .inner .item-notice .notice-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 22px;
  width: 7px;
  height: 12px;
  background: url("../images/notice_more_btn.png") no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
.item .inner .item-main {
  position: relative;
  display: block;
}
.item .inner .item-main .item-title {
  position: relative;
  display: flex;
}
.item .inner .item-main .item-title h3 {
  font-size: 28px;
  font-weight: 500;
  color: #000;
}
.item .inner .item-main .item-title .item-best {
  display: block;
  background-color: #6C801A;
  color: #fff;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 15px;
  border-radius: 150px;
  text-align: center;
  margin-left: 30px;
  border: 0;
  cursor: pointer;
}
.item .inner .item-main .item-title .item-pop {
  color: #fff;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 15px;
  color: #999;
  background-color: #F6F6F6;
  border-radius: 150px;
  text-align: center;
  margin-left: 8px;
  border: 0;
  cursor: pointer;
}
.item .inner .item-main .sw-item {
  width: 100%;
  height: 100%;
}
.item .inner .item-main .sw-item .swiper-slide {
  width: auto;
}
.item .inner .item-main .sw-item .swiper-slide a {
  width: auto;
  height: 100%;
  color: #333;
}
.item .inner .item-main .sw-item .swiper-slide a img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.item .inner .item-main .sw-item .swiper-slide a .tea-name {
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.2;
  word-break: keep-all;
}
.item .inner .item-main .sw-item .swiper-slide a .tea-origin {
  font-size: 16px;
  color: #999;
  text-decoration: line-through;
  line-height: 1;
}
.item .inner .item-main .sw-item .swiper-slide a .tea-price {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}
.item .inner .item-main .sw-item .swiper-slide a .tea-sale {
  font-size: 18px;
  font-weight: 500;
  color: #6C801A;
  margin-left: 5px;
  line-height: 1;
}
.item .inner .item-main .sw-item .swiper-slide a .tea-new {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  background-color: #A89079;
  margin-top: 40px;
}
.item .inner .item-main .sw-item-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.item .inner .item-main .sw-item-control .sw-item-prev {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url("../images/item-prev.png") no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
.item .inner .item-main .sw-item-control .sw-item-next {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url("../images/item-next.png") no-repeat center;
  background-size: cover;
  border: 0;
  cursor: pointer;
}
/* News */
.news {
  position: relative;
  display: block;
}

.news .inner {
  position: relative;
  display: block;
}

/* Daily */
.daily {
  position: relative;
  display: block;
}

.daily .inner {
  position: relative;
  display: block;
}

/* History */
.history {
  position: relative;
  display: block;
}

.history .inner {
  position: relative;
  display: block;
}

/* Footer */
.footer {
  position: relative;
  display: block;
}

.footer .inner {
  position: relative;
  display: block;
}/*# sourceMappingURL=style.css.map */