@charset "utf-8";
@import url('/css/font.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  font-family: 'ad', "Noto Sans KR", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #727272;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

// banner
.banner {
  position: relative;
  display: none;
  text-align: center;

  .sw-banner {
    position: relative;
    display: block;
    background: rgb(70, 69, 69);
    // padding: 7px 0;
    height: 32px;
    line-height: 32px;

    a {
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .banner-close {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 14px;
    height: 14px;
    border: 0;
    font-size: 0;
    background: url('../images/banner-close.png') no-repeat center;
    background-size: cover;
    z-index: 9;
    cursor: pointer;
  }
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  // height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .25), transparent);
  z-index: 9999;

  .inner {
    position: relative;
    display: flex;
    max-width: 1500px;
    justify-content: space-between;

    .header-left {
      display: flex;
      align-items: center;

      .logo {
        position: relative;
        display: block;
        width: 109px;
        height: 36px;
        background: url('../images/logo_white.png') no-repeat center;
      }

      .logo-hv {
        background: url('../images/logo_black.png') no-repeat center;
      }

      .gnb {
        padding-left: 80px;

        .depth1 {
          position: relative;
          display: flex;

          >li {
            padding-right: 80px;

            >a {
              display: block;
              height: 80px;
              line-height: 80px;
              font-size: 18px;
              font-weight: 500;
              color: #fff;
            }

            >a:hover {
              color: #6C801A;
            }

            .submenu {
              position: absolute;
              top: 80px;
              left: 100%;
              transform: translateX(-44%);
              display: none;
              width: 100vw;
              height: 100vh;
              background: skyblue;

              .depth2 {
                position: absolute;
                top: 0;
                left: 20%;
                transform: translateX(2%);
                display: flex;

                >li {
                  padding-top: 70px;
                  padding-right: 75px;

                  >a {
                    font-size: 17px;
                    font-weight: 500;
                    color: #333;
                  }

                  .depth3 {
                    >li {
                      padding-top: 20px;

                      >a {
                        font-size: 15px;
                        color: #666;
                      }
                    }

                  }
                }

              }

              >a {
                position: absolute;
                top: 70px;
                left: 60%;
                display: block;

                >img {
                  width: 100%;
                }
              }
            }

            .submenu::after {
              content: '';
              position: absolute;
              left: 50%;
              top: 0;
              transform: translateX(-50%);
              display: block;
              width: 100%;
              height: 100vh;
              background: skyblue;
              z-index: -9;

            }
          }

          >li:last-child {
            padding-right: 0;
          }
        }
      }

    }

    .header-right {
      display: flex;

      .util {
        display: flex;
        align-items: center;
        margin-right: 60px;

        >li {
          position: relative;
          margin-right: 15px;

          .search {
            display: block;
            width: 28px;
            height: 28px;
            background: url('../images/icon_search_white.png') no-repeat center;
            background-size: cover;
          }

          .search-hv {
            background: url('../images/icon_search_black.png') no-repeat center;
            background-size: cover;
          }

          .search:hover {
            background: url('../images/icon_search_hover.png') no-repeat center;
            background-size: cover;
          }

          .cart {
            display: block;
            width: 28px;
            height: 28px;
            background: url('../images/icon_cart_white.png') no-repeat center;
            background-size: cover;
          }

          .cart-hv {
            background: url('../images/icon_cart_black.png') no-repeat center;
            background-size: cover;
          }

          .cart:hover {
            background: url('../images/icon_cart_hover.png') no-repeat center;
            background-size: cover;
          }

          .num {
            position: absolute;
            right: -8px;
            top: -4px;
            height: 16px;
            padding: 0 4px;
            line-height: 16px;
            background-color: #fff;
            color: #333;
            font-weight: 500;
            border-radius: 9px;
            text-align: center;
          }

          .num-hv {
            background-color: #555;
            color: #fff;
          }
        }

        >li:last-child {
          margin-right: 0;
        }

        .more-btn {
          position: relative;
          display: block;
          width: 28px;
          height: 28px;
          background: url('../images/icon_more_white.png') no-repeat center;
          background-size: cover;

          .more-btn-list {
            position: absolute;
            top: 48px;
            left: 50%;
            transform: translateX(-55%);
            display: none;
            width: 165px;
            text-align: right;
            background-color: #fff;

            >li {
              padding: 8px 20px;
              text-align: right;

              >a {
                font-size: 15px;
                color: #555;
              }

              >a:hover {
                color: #6C801A;
              }
            }

            >li:first-child {
              padding-top: 20px;
            }
          }

        }

        .more-btn-hv {
          background: url('../images/icon_more_black.png') no-repeat center;
          background-size: cover;
        }

        .more-btn:hover {
          background: url('../images/icon_more_hover.png') no-repeat center;
          background-size: cover;
        }
      }

      .drop {
        position: relative;
        display: flex;
        align-items: center;

        >li {
          position: relative;
          margin-right: 24px;


          >a {
            display: block;
            height: 80px;
            line-height: 80px;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
          }

          >a:hover {
            color: #6C801A;
          }

          .signbox {
            position: absolute;
            top: 74px;
            left: 50%;
            transform: translateX(-55%);
            display: none;
            width: 100px;
            background-color: #fff;
            text-align: right;

            >li {
              padding: 8px 20px;

              a {
                font-size: 15px;
                color: #555;
              }

              a:hover {
                color: #6C801A;
              }
            }

            >li:first-child {
              padding-top: 20px;
            }

          }

          .langbox {
            position: absolute;
            top: 74px;
            left: 50%;
            transform: translateX(-55%);
            display: none;
            width: 100px;
            background-color: #fff;
            text-align: right;

            li {
              padding: 8px 20px;
              text-align: right;

              a {
                font-size: 15px;
                color: #555;
              }

              a:hover {
                color: #6C801A;
              }
            }

            li:first-child {
              padding-top: 20px;
            }
          }
        }

        .korea::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -15px;
          display: inline-block;
          width: 7px;
          height: 4px;
          background: url('../images/icon_drop_white.png') no-repeat center;
          background-size: cover;
        }

        .korea:hover::after {
          background: url('../images/icon_drop_hover.png') no-repeat center;
          background-size: cover;
        }

        .korea-hv::after {
          background: url('../images/icon_drop_black.png') no-repeat center;
          background-size: cover;
        }
      }
    }
  }
}

.header-hv {
  background: #fff;
}

/* Visual */
.visual {
  position: relative;
  display: block;

  .sw-visual {
    position: relative;
    width: 100%;
    height: 100%;

    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;

      .visual-inner {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1320px;
        height: 100%;
        width: 100%;
        padding: 0 60px;

        .visual-box {
          position: absolute;
          top: 50%;
          left: 60px;
          transform: translateY(-50%);
          padding-top: 50px;

          .visual-title {
            font-size: 36px;
            font-weight: 500;
            line-height: 1.29;
          }

          .visual-txt {
            margin-top: 16px;
            font-size: 13px;
          }

          .visual-date {
            font-size: 16px;
            font-weight: 500;
            margin-top: 12px;
          }
        }
      }

      .visual-btn {
        position: absolute;
        bottom: 40px;
        border: 1px solid #555;
        width: 110px;
        height: 32px;
        line-height: 32px;
        border-radius: 4px;
        font-size: 13px;
        color: #333;
        background-color: transparent;
        z-index: 9;
        transition: 0.2s ease-in-out;
      }

      .visual-btn:hover {
        background-color: #666;
        color: #fff;
      }
    }

    .sw-visual-prev {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      display: block;
      width: 60px;
      height: 60px;
      background: url('../images/visual-prev.png') no-repeat center;
      background-size: cover;
      border: 0;
      z-index: 99;
      cursor: pointer;

    }

    .sw-visual-next {
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      display: block;
      width: 60px;
      height: 60px;
      background: url('../images/visual-next.png') no-repeat center;
      background-size: cover;
      border: 0;
      z-index: 99;
      cursor: pointer;
    }

    .sw-visual-control {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      padding-left: 20px;
      padding-right: 20px;
      z-index: 99;

      .sw-visual-pg {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;

        .swiper-pagination-bullet {
          background-color: rgba(51, 51, 51, 0.1);
          border-radius: 0;
          flex: 1 0 1px;
          opacity: 1;
          height: 2px;
        }

        .swiper-pagination-bullet-active {
          background: #333;
        }
      }

      .sw-visual-pause {
        position: relative;
        display: block;
        width: 8px;
        height: 12px;
        background: url('../images/icon_btn_pause.png') no-repeat center;
        background-size: cover;
        border: 0;
        margin-left: 20px;
        cursor: pointer;
      }

      .sw-visual-play {
        background: url('../images/icon_btn_play.png') no-repeat center;
        background-size: cover;
      }
    }
  }
}


/* Item */
.item {
  position: relative;
  display: block;

  .inner {
    position: relative;
    display: block;

    .item-notice {
      position: relative;
      display: flex;
      align-items: center;
      padding: 14px 16px;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: #F6F6F6;
      border-radius: 4px;

      .notice-title {
        font-size: 14px;
        color: #999;
        margin-right: 8px;
        white-space: nowrap;
      }

      .notice-list {
        width: 100%;
        height: 20px;
        overflow: hidden;


        li {
          font-size: 14px;
          color: #666;
          white-space: nowrap;

          a {}
        }
      }

      .notice-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 22px;
        width: 7px;
        height: 12px;
        background: url('../images/notice_more_btn.png') no-repeat center;
        background-size: cover;
        border: 0;
        cursor: pointer;
      }
    }

    .item-main {
      position: relative;
      display: block;

      .item-title {
        position: relative;
        display: flex;

        h3 {
          font-size: 28px;
          font-weight: 500;
          color: #000;
        }

        .item-best {
          display: block;
          background-color: #6C801A;
          color: #fff;
          font-weight: 500;
          height: 36px;
          line-height: 36px;
          padding: 0 16px;
          font-size: 15px;
          border-radius: 150px;
          text-align: center;
          margin-left: 30px;
          border: 0;
          cursor: pointer;
        }

        .item-pop {
          color: #fff;
          font-weight: 500;
          height: 36px;
          line-height: 36px;
          padding: 0 16px;
          font-size: 15px;
          color: #999;
          background-color: #F6F6F6;
          border-radius: 150px;
          text-align: center;
          margin-left: 8px;
          border: 0;
          cursor: pointer;
        }
      }

      .sw-item {
        width: 100%;
        height: 100%;
        .swiper-slide{
          width: auto;
          // margin-right: 20px;

          a {
            width: auto;
            height: 100%;
            color: #333;
  
            img {
              max-width: 100%;
              height: auto;
              vertical-align: top;
            }
  
            .tea-name {
              font-size: 16px;
              margin-top: 15px;
              line-height: 1.2;
              word-break: keep-all;
            }
  
            .tea-origin {
              font-size: 16px;
              color: #999;
              text-decoration: line-through;
              line-height: 1;
            }
  
            .tea-price {
              display: inline-block;
              font-size: 18px;
              font-weight: 500;
              line-height: 1;
            }
  
            .tea-sale {
              font-size: 18px;
              font-weight: 500;
              color: #6C801A;
              margin-left: 5px;
              line-height: 1;
            }
  
            .tea-new {
              display: inline-block;
              height: 22px;
              line-height: 22px;
              padding: 0 8px;
              font-size: 14px;
              text-align: center;
              font-weight: 500;
              color: #fff;
              background-color: #A89079;
              margin-top: 40px;
            }
          }
        }
      }
      .sw-item-control{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        // z-index: 99;
        .sw-item-prev{
          position: absolute;
          left: -40px;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          background: url('../images/item-prev.png') no-repeat center;
          background-size: cover;
          border: 0;
          cursor: pointer;
        }
        .sw-item-next{
          position: absolute;
          right: -40px;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          background: url('../images/item-next.png') no-repeat center;
          background-size: cover;
          border: 0;
          cursor: pointer;
        }
      }
      .item-more-btn{
        span{

        }
      }
    }
  }
}

/* News */
.news {
  position: relative;
  display: block;
}

.news .inner {
  position: relative;
  display: block;
}

/* Daily */
.daily {
  position: relative;
  display: block;
}

.daily .inner {
  position: relative;
  display: block;
}

/* History */
.history {
  position: relative;
  display: block;
}

.history .inner {
  position: relative;
  display: block;
}

/* Footer */
.footer {
  position: relative;
  display: block;
}

.footer .inner {
  position: relative;
  display: block;
}